.about{
    font-family: 'Roboto', sans-serif;
    margin-left: 40%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.containerabout{
    background-color: #F5F5DC;
}
.infoAbout{
    font-family: 'Roboto', sans-serif;
    margin-left: 5%;
    margin-top: 2%;
    margin-right: 5%;
}
.parrafo1{
    margin-bottom: 2%;
}
.parrafo2{
    margin-bottom: 2%;
    margin-top: 5%;
}
.parrafof{
    margin-bottom: 10%;
}

.how{
    margin-left: 32%;
    margin-top: 5%;
}
@media (max-width: 800px){
    .about{
        font-family: 'Rock Salt', cursive !important;
        margin-left: 20%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .how{
        margin-left: 0%;
        margin-top: 8%;
        width: 150%;
        margin-bottom: 8%;
    }
  }