.drop{
  display: flex;
  position: absolute;
  top: 0%;
  right: 0%;
  font-size: 30px;
  cursor: pointer;
  background: none;
  border: none;
  padding: 5px;
}


.eliminar{
   font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight:  400;
  font-style: normal;
}

.editardrop{
   font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight:  400;
  font-style: normal;
  margin-top: 0% !important;
  height: 100%;

}


.editardrop:hover{
  background-color: #917E41;
  color: beige;
  padding-top: 10%;
  padding-bottom: 5%;
}


.eliminar:hover{
  background-color: #917E41;
  color: beige;
  padding-top: 10%;
  padding-bottom: 5%;
}

.dropdown-menu{
  height: auto;
}
.custom-swal-popup {
  background-color: rgb(30, 28, 28) !important;
  color: white;
   font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight:  400;
  font-style: normal;
}
.input-editar{
  font-family: 'Shadows Into Light', sans-serif;
}
.custom-swal-title {
  color: #917E41 !important
}
.custom-swal-confirm{
  background-color:  #917E41 !important;
  
}
.custom-swal-cancel{
  background-color:  #917E41 !important;
}
.custom-swal-confirm:hover{
  background-color:  #372c06 !important;
}
.custom-swal-cancel:hover{
  background-color:  #372c06 !important;
}