/* Agrega estos estilos a tu archivo de estilos global o componente CSS */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegúrate de que el z-index sea mayor que el z-index de tus otros elementos */
    font-family: 'Rock Salt', cursive !important;
  }
  
  .modal-contentf{
    background:  #111010 !important;
    padding: 20px;
    border-radius: 5px;
    width: 50% !important;
    height: auto;
    color: aliceblue;

  }
  .follower-list {
    max-height: 380px; /* Establece la altura máxima según tus necesidades */
    overflow-y: auto; /* Habilita el desplazamiento vertical si se supera la altura máxima */
    margin-left: 5%;
    margin-top: 7%;
  }
  
  #cerrar{
    margin-left: 40%;
    margin-top: 5%;
  }

.showmore{
  margin-left: 10%;
  margin-top: 3%;
}
.showless{
  margin-left: 10%;
  margin-top: 3%;
}
.showmore:hover{
  color: #917E41;
}
.showless:hover{
  color: #917E41;
}
.namefollow{
  margin-bottom: 5%;
  display: flex;
}
.namef{
  margin-top: 1.5%;
  margin-left: 3%;
  font-size: 20px;
}
.name:hover{
  color: #917E41;
}

@media (max-width: 800px){
    
  #cerrar{
    margin-left: 32%;
  }
  .showmore{
    margin-top: 10%;
    margin-bottom: 5%;
  }
  .showless{
    margin-top: 10%;
    margin-bottom: 5%;
  }
  .namef{
    margin-top: 3%;
    margin-left: 5%;
  }
  .modal-contentf{
    width: 80% !important;
  }

  .follower-list{
    max-height: 330px;
    margin-top: 12%;
  }
  .namefollow{
    margin-bottom: 8%;
  }
}