.containerFooter {
    width: 100%;
    background-color: rgb(228, 224, 177);
    padding: 20px;
     font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight:  400;
  font-style: normal;
}
.footer{
    margin-left: 10%;
}
  .footer-contact {
    margin-right: 20px;
  }
.contact{
    margin-top: 1%;
    margin-bottom: 3%;
}


.container-social{
    display: flex;
    padding-bottom: 1%;
}
.container-icons{
    margin-left: 2% !important;
}
.icons{
    color: black !important;
  
}

.iconsT{
  height: 90%;
  width: 60%;
}
