
  /* Estilos normales para la galería */
  .custom-image-gallery {
    width: 350px;
    margin: 0 auto; /* Centra la galería horizontalmente */
    margin-right: 3%;
    height: auto;
    margin-top: 5%;
    margin-bottom: 2%;
  }

  .container-img {
    display: flex;
    
  
  }
  /* Estilos específicos para la imagen ampliada en pantalla completa */
  .react-image-gallery-fullscreen {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .image-gallery-thumbnail img {
    width: 100px; /* ajusta el ancho según tus necesidades */
    height: 80px; /* ajusta la altura según tus necesidades */
  }
  .comments-container{
    padding-left: 0%;
    padding-top: 5%;
    margin-right: 5%;
    width: 200px;
    
  }

  .but-upload{
    display: flex;
    margin-top: 10px;
    margin-left: 20%;
  }

  .but-up{
    margin-left: 2%;
  }
  .but-close{
    margin-left: 2%;
  }
.container-img{
    display: block;
    padding-left: 5%;
    margin-top: 5%;
    padding-right: 5%;
}

.description{
    font-size: 100%;
    margin-left: 20%;
}

.icon-img{
  margin-left: 20%;
  font-size: 1200%;
}

.prue{
    display: block;
    width: 100%;
}

.prue2{
    display: block;
    width: 95%;
    margin-bottom: 5%;
    margin-left: 2%;

}
.img-comment{
    display: flex;
}
.containerall{
    width: 90%;
    margin-bottom: 10%;
}


.text-img{
  font-size: 15px;
  margin-left: 10%;
  margin-bottom: 5%;
}

.boxUpdate{
  background: #917E41;
  padding: 20px;
  width: 60%;
  height: 60%;
  margin-left: 20% ;
  margin-bottom: 8%;
}
.textArea{
  font-size: 10px;
  resize: "none";
  width: 100%;
  max-width: 700px ;
  min-height: 200px;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  background-color: black;
  color: white;
  margin-left:10%;
}

.containerall.with-images {
  /* Establece los márgenes que desees cuando hay imágenes */
  margin-left: 20% !important; /* Ejemplo: márgenes de 10px */
}




  /* Estilos adicionales para mejorar la visualización en responsive */
  @media (max-width: 480px) {
    .react-image-gallery {
      max-height: 100vh; /* Limita la altura de la imagen en responsive */
    }
    .image-gallery-thumbnail img {
      width: 80%; /* ajusta el ancho según tus necesidades */
      height: 80%; /* ajusta la altura según tus necesidades */
    }
  
    .fullscreen {
      align-items: center;
      justify-content: center;
      height: 100vh; /* Ajusta la altura al 100% de la pantalla en vista responsive */
      margin-top: 10%;
    }
    .boxUpdate{
      width: 80%;
      height: auto;
      margin-left:10% ;
    }
    .text-img{
      font-size: 12px;
      margin-left:4%;
      margin-bottom: 7%;
      width: 100%;
    }
    .icon-img{
      margin-left: 25%;
      font-size: 700% !important;
    }
    .textArea{
      font-size: 10px;
      resize: "none";
      width: 140%;
      max-width:100%; 
      max-height: 100px ;
      min-height: 80px;
      border: 1px solid #ccc;
      padding: 0px;
      border-radius: 4px;
      margin-left: 1%;
  
      &::placeholder {
        text-align: left; /* Alinea el texto del placeholder a la izquierda */
        padding-left: 7%; /* Ajusta el espacio entre el borde izquierdo y el texto del placeholder */
        padding-right: 7%; /* Ajusta el espacio entre el borde derecho y el texto del placeholder */
        padding-top: 5%;
      }
    
      &:not(:placeholder-shown) {
        padding-left: 7%; /* Ajusta el espacio entre el borde izquierdo y el texto cuando hay contenido */
        padding-right: 7%; /* Ajusta el espacio entre el borde derecho y el texto cuando hay contenido */
        padding-top: 5%;
      }
    }
    .img-comment{
      display: block;
  }
  .containerall.with-images {
    /* Establece los márgenes que desees cuando hay imágenes */
    margin-left: 0% !important; /* Ejemplo: márgenes de 10px */
  }
  
.fullscreen {
  align-items: center;
  justify-content: center;
  margin-top: 70%;
}

.custom-image-gallery {
  width: 100%;
  height: 100%;
  padding-top: 10%;
  margin-left: 1%;


}



.but-upload{
  margin-left: 8%;
  padding-bottom: 5%;
}
.prue2{
  margin-top: 3%;
  border-radius: 2%;
}
.comments-container{
  padding-left: 0% !important;
  padding-top: 5%;
  width: 100%;
  
}



  
  }
  