
  /* Estilos normales para la galería */
  .custom-image-gallery {
    width: 100%;
    margin: 0 auto; /* Centra la galería horizontalmente */
    margin-right: 5%;
  }
  .imges{
    height: 200px;
  }
  .container-img {
    display: flex;
  
  }
  
  /* Estilos específicos para la imagen ampliada en pantalla completa */
  .react-image-gallery-fullscreen {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .comments-container{
    flex-grow: 1;
    padding-left: 0%;
    padding-top: 5%;
    
  }

  .but-upload{
    display: flex;
    margin-top: 10px;
    margin-left: 20%;
  }

  .but-up{
    margin-left: 2%;
  }
  .but-close{
    margin-left: 2%;
  }
.container-img{
    display: block;
    padding-left: 5%;
    margin-top: 5%;
    padding-right: 5%;
}

.description{
    font-size: 100%;
    margin-left: 20%;
}

.icon-img{
  margin-left: 24%;
  font-size: 1200%;
}

.prue{
    display: flex;
}

.prue2{
    display: block;
    background-color: black;
    border-radius: 5%;

}
.img-comment{
    display: flex;
}
.containerall{
    width: 90%;
    margin-bottom: 10%;

}
.textarea{
    width: 200px;
}

.text-img{
  font-size: 15px;
  margin-left: 16%;
  margin-bottom: 5%;
}

.boxUpdate{
  background: #917E41;
  padding: 20px;
  width: 400px;
  height: 300px;
  margin-left:22% ;
}
.textArea{
  font-size: 11px;
  resize: "none";
  width: 100%;
  max-width:600px ;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
}

.containerall.with-images {
  /* Establece los márgenes que desees cuando hay imágenes */
  margin-left: 20% !important; /* Ejemplo: márgenes de 10px */
}



  /* Estilos adicionales para mejorar la visualización en responsive */
  @media (max-width: 767px) {
    .react-image-gallery {
      max-height: 80vh; /* Limita la altura de la imagen en responsive */
    }
  
    .fullscreen {
      align-items: center;
      justify-content: center;
      height: 100vh; /* Ajusta la altura al 100% de la pantalla en vista responsive */
      margin-top: 10%;
    }
    .boxUpdate{
      width: 50%;
      height: 180px;
      margin-left:25% ;
    }
    .text-img{
      font-size: 16px;
      margin-left:4%;
      margin-bottom: 7%;
    }
    .icon-img{
      margin-left: 20%;
      font-size: 600% !important;
    }
    .textArea{
      font-size: 15px;
      resize: "none";
      width: 100%;
      max-width:600px ;
      border: 1px solid #ccc;
      padding: 8px;
      border-radius: 4px;
    }
    .img-comment{
      display: block;
  }
  .containerall.with-images {
    /* Establece los márgenes que desees cuando hay imágenes */
    margin-left: 0% !important; /* Ejemplo: márgenes de 10px */
  }
  
.fullscreen {
  align-items: center;
  justify-content: center;
  margin-top: 50%;
}

.custom-image-gallery {
  width: 65%;
  margin: 0 auto; /* Centra la galería horizontalmente */
  margin-right: 18%;
}


.but-upload{
  margin-left: 16%;
  margin-bottom: 5%;
}



  
  }
  