.icon-imgP{
    margin-left: -1%;
  font-size: 1200%;
}  .custom-image-gallery2 {
  width: 350px;
  margin: 0 auto; /* Centra la galería horizontalmente */
  margin-right: 3%;
  height: auto;
  margin-top: 5%;
  margin-bottom: 2%;
}
.but-upload2{
  display: flex;
  margin-top: 10px;
  margin-left: 0%;
}



  /* Estilos adicionales para mejorar la visualización en responsive */
  @media (max-width: 480px) {
  
    .icon-imgP{
      margin-left: 10%;
    }
    .custom-image-gallery2 {
      width: 100%;
      height: 100%;
      padding-top: 10%;
      margin-left: 1%;
    }
    .but-upload2{
      margin-left: 8%;
      margin-top: 10%;
      margin-bottom: 8%;
    }
    
    
    

  
  }
  