.containermap{
    margin-top: 10%;
    margin-right: 0%;

}
.mapt{
    height: 400px;
    margin-right: 0%;
}



  
@media (max-width: 800px) {
    .containermap{
        padding-right: 0%;
    }
    


}