.containerUserMap{
    background-image: url("/public/images/luxa.org-opacity-changed-Default_Create_an_artistic_black_and_white_background_related_1.jpg") !important;
    background-size: cover;
      background-position: center;
}
.confirmButton{
    padding-bottom: 5%;
}
.map{
height: 500px;
width: 80%;
display: flex;
align-items: center;
border-radius: 1%;
}
.containerBuscar{
display: flex;
align-items: center;
justify-content: center;
}
.elementosBuscar{
display: block;
width: 80%;
color: #917E41;
}
.containerMap{
    display: flex;
    align-items: center;
    justify-content: center;
}
.button {
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #917E41;
  color: aliceblue;
   }
   
   .button:hover{
    background-color: #50400b;
   }

   
.form-control{
    width: 70%;
}

.titulo{
    padding-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #917E41;
}

.list-group-item{
    border: 1px solid black;
    border-radius: 3%;
    padding-bottom: 2%;
    margin-bottom: 1%;
}
.list-group-item:hover{
    background-color: #917E41;
}

.digitar{
    margin-top: 0.5%;
    margin-bottom: 2%;
}

@media (max-width: 800px) {
    .buscarUbicacion{
        font-size: 8px ;
    }
    .digitar{
        font-size: 65%;
        margin-top: 2%;
        margin-bottom: 5%;
    }
    .form-control{
        width: 100%;
    }
    .titulo{
        padding-top: 10%;

    }
    .seleccionUbicacion{
        font-size: 100%;
    }
    


}