
.words{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
    margin-left: 2%;
    color: aliceblue !important;
    text-decoration: none;
    
}

.words:hover{
    color: #917E41 !important;
}

.img {
    width: 25%;
    height: 30%;
    margin-left: 38%;
    margin-bottom: 5%;
  }

.wordsHome{
    margin-left: 20%;
    margin-bottom: 0%;
  }
