.words {
  font-family: 'Sacramento', cursive !important;
  color: aliceblue !important;

}

.icon {
  color: aliceblue !important;
}

.icon:hover {
  color: #917E41 !important;
}

.login {
  font-family: 'Sacramento', cursive !important;
  color: aliceblue !important;
  margin-right: 2%;

}

.signup {
  font-family: 'Sacramento', cursive !important;
  color: aliceblue !important;
  margin-right: 2%;
  width: 20vh;
}

@media (min-width: 300px) and (max-width: 360px){
  .profile-info{
    width: 75% !important;
  }
}
@media (min-width: 360px) and (max-width: 469px){
  .profile-info{
    width: 65% !important;
  }
}
@media (min-width: 470px) and (max-width: 590px){
  .profile-info{
    width: 50% !important;
  }
}

@media (min-width: 590px) and (max-width: 700px){
  .profile-info{
    width: 40% !important;
  }

}
@media (min-width: 701px) and (max-width: 900px){
  .profile-info{
    width: 33% !important;
    right: 6% !important;
  }

}
@media (min-width: 900px) and (max-width: 1000px){
  .profile-info{
    width: 33% !important;
    right: 5% !important;
  }

}


.login:hover {
  color: #917E41;
}

.profile-info {
  background-color: rgb(32, 32, 29);
  border-radius: 5%;
  position: absolute;
  top: 90%;
  right: 8%;
  z-index: 999;
  text-align: center;
  width: 25%; 
  display: flex;
}


.left-div{
  margin-left: 10%;
  margin-top: 5%;
}
.right-div{
  margin-top: 5%;
  margin-left: 6%
}
.profile-name{
      margin-left: 0%;
      font-size: 140%;
      width: 100%;
}
.profile-email{
margin-left: 10%;
font-size: 80%;
width: 100%;
}
.bottom-component{
  background-color: #917E41;
  margin-top:20%;
  margin-bottom: 20%;
  border-radius: 5%;
}
.bottom-component:hover{
  background-color: #3d361d;
}
.administrar{
  font-size: 80%;
  margin-left: 10%;
  width: 100%;
  
}
.profile-No{
  margin-left: 10%;
  font-size: 80%;
  width: 100%;
  margin-bottom: 20%;
  }
  .profile-nameNo{
    margin-left: 0%;
    font-size: 120%;
    width: 100%;
  }
  .profile-login{
    color: #917E41 !important;
  }
  .profile-login:hover{
    color: #3d361d !important;
  }
  .adminCount{
    color: #917E41 !important;
  }
  .adminCount:hover{
    color: #3d361d !important;
  }