
.words{
    font-family: 'Rock Salt', cursive !important;
    margin-left: 2%;
    color: aliceblue !important;
    
}

.words:hover{
    color: #917E41 !important;
}

.img {
    width: 25%;
    height: 30%;
    margin-left: 38%;
    margin-bottom: 5%;
  }
  