.post-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Ajusta la cuadrícula según sea necesario */
    gap: 0.5em; /* Elimina el espacio entre las columnas y filas */
    margin-left: 1%;
    z-index: 1;
    margin-left: 12%;
    margin-right: 8%;
    margin-bottom: 10%;
    margin-top: 5%;
  
  }
  .post-item {
    width: 90%; /* Ancho deseado */
    overflow: hidden; /* Para asegurarte de que las imágenes no se desborden */
    display: flex; /* Usa flexbox para alinear elementos en el eje horizontal */ 
    border-radius: 2%;
    cursor: pointer;
    transition: all 0.5s;
  }

  .post-item:hover  {
    transform: scale(1.1);
  }
  
  .post-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Para ajustar la imagen dentro del contenedor manteniendo su relación de aspecto */
    flex: 1; /* La imagen ocupa todo el espacio disponible en el contenedor flex */
  
  }
 
  
  .custom-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2; /* Asegúrate de que el z-index sea mayor que el de .post-grid */
  }
  
  .custom-modal {
    width: 50%;
    height: auto;
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    background-color: #111010;
    z-index: 3; /* Asegúrate de que el z-index sea mayor que el de .custom-modal-overlay */
  }
  /* Ajusta la posición del botón de cierre */
.close-button {
  display: flex;
  position: absolute;
  top: 1%;
  right: 23%;
  font-size: 40px;
  cursor: pointer;
  background: none;
  border: none;
  padding: 5px;
  color: #fff;

  /* Añade margen para aumentar el área de clic */
  margin: -15px; /* Experimenta con el valor según sea necesario */
}

  .post-modal {
    display: flex;
    flex-direction: column; /* Coloca los elementos uno encima del otro */
  }
  
  .post-modal h3 {
    margin-bottom: 10px; /* Ajusta el espacio entre el título y la galería */
  }

  .img {
    width: 60%; /* Ajusta el ancho de la imagen al 70% del contenedor */
    margin-left: 5%;
    margin-bottom:auto;
    margin-top: auto;
  }
  .info{
    font-size: 14px;
    margin-left: 3%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    color:beige ;
    font-family: 'Shadows Into Light', sans-serif;

  }
  .custom-gallery {
  width: 50%; /* Ajusta el ancho de la galería al 80% del contenedor */
  margin-left: 24%; /* Ajusta el margen izquierdo según sea necesario */
  margin-bottom: auto;
  margin-top: auto;

}

  .no-post{
    font-family: 'Rock Salt', cursive !important;
    font-size: medium;
    margin-left: 115%;
    width: 100%;
    margin-top: 30%;
    margin-bottom: 35%;
  }

  /* Agregar esto a tu archivo de estilos CSS o en línea si estás utilizando styled-components */
.like-animation {
  animation: likeAnimation 1s ease-out; /* Puedes ajustar la duración y la función de temporización según tus necesidades */
}
.user-reactions{
  margin-left: 3%; 
  display: flex;
}
.nameuser{
  color: aliceblue;
  margin-left: 10%;
}
.info-users-reactions{
  display: flex;
  margin-left: 5%;
}
.user-reactions-more{
  margin-left: 3%;
  color: aliceblue;
}
.user-reactions-more:hover{
  color:#917E41;
}

@keyframes likeAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}


  @media (max-width: 800px) {

    .custom-modal {
      width: 90%;
      height: auto;
    }
    .close-button {
      top: 17%;
      right: 2%;
    }

    .post-grid {
      margin-right: 1%;
      margin-left: 1%;
      margin-top:8%;
      padding-bottom: 28%;
      min-height: 33vh;
  
    }
    .post-item {
      width: 100%; /* Ancho deseado */
      height: auto;

    }
    .custom-gallery{
      width: 70%;
      margin-left: 15%;
    }

    .info{
      margin-bottom: 5%;
      color:beige ;
      font-size: 14px;
      margin-top: 3%;

    }
    .no-post{
      margin-top: 100%;
      margin-bottom: 5%;
    }
    .nameuser{
      width: 80%;
      margin-right: 4%;
    }
    

    .user-reactions-more{
      margin-left: 5%
    }


  }