.option-container {
  display: flex;
  align-items: center;
  font-family: 'Rock Salt', cursive !important;
}

.label-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.value-container {
  margin-left: 10px;
}
.label{
  margin-left: 2%;
}
.values{
  font-size: 0.6rem;
}