.option-container {
  display: flex;
  align-items: center;
  font-family: 'Rock Salt', cursive !important;
}

.label-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.titleinput{
  font-family: 'Rock Salt', cursive !important;
  margin-left: 5%;
  margin-bottom: 2%;
}
.no-results{
  font-family: 'Rock Salt', cursive !important;
  margin-left: 5%;
  padding-bottom: 2%;
  margin-top: 3%;
  border-bottom: 1px solid black;
  width: 90%;
  border-radius: 4%;
  padding-left: 3%;
}
.value-container {
  margin-left: 10px;
}
.label{
  margin-left: 2%;
}
.values{
  font-size: 0.6rem;
}

.input{
  width: 90%;
  border-radius: 2%;
  border: 1px solid #917E41 !important;
  margin-left: 5%;
}
.userDetails{
  display:flex;
  width: 90%;
  padding-top: 3%;
  padding-bottom: 2%;
  margin-left: 5%;
  border-bottom: 1px solid black;
  border-radius: 4%;
}
.user-info{
  margin-left: 5%;
  display: block
}
.avatar{
  margin-left: 5%;
}
.userDetails:hover{
  background-color: #917E41;
}
.user-name{
  font-size: 140%;
  font-weight: bold;
}
.user-location{
  font-size: 75%;
}
.stars{
margin-left: auto;
margin-right: 7%;
}