
.modal-contentshow{
    width: 40% !important;
    background-color: rgb(24, 23, 23);
    border-radius: 2%;
    height: auto;
}
.image-avatar{
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
}


@media (max-width: 800px) {

    .modal-contentshow{
        width: 90% !important;
        height: auto;
    }
    .image-avatar{
        margin-left: 3%;
        margin-top: 8%;
        margin-bottom: 8%;
    }

  }