.entireProfile{
  background-image: url("/images/profile3.jpg");
  background-size: cover;
    background-position: center;

}
.containerProfile {
  display: flex;
  padding-top: 3%;
  padding-left: 25%;
  padding-bottom: 1%;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  min-height: 20vh;
  
}

.containerInfo {
  display: flex;
  flex-direction: column;
  margin-left: 4rem; /* Ajusta el margen izquierdo según sea necesario */
  margin-top: 3%;
  color: #917E41;
  

}


.location:hover{
  color: #917E41;

}
.nameinfo{
  font-size: 250%;
  margin-right: 3%;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.img-avatar{
  margin-top: 5%;
}

.buttonPerfil {
  display: flex;
  justify-content: center; /* Esto centrará horizontalmente los elementos en el contenedor */
  width: 100%; /* O el ancho deseado para el contenedor */
}
.button {
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #917E41;
  color: aliceblue;
   }
   

   
   .button:hover{
    background-color: #50400b;
   }

   

  .editar{
    margin-left: 19%;
    margin-top: 7%;
  }
  .whatsapp{
    color: aliceblue;
    text-decoration: none;
  }
  .whatsapp:hover{
    color: aliceblue;
  }
  .followInfo{
    display: flex;
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
    justify-content: center;
    margin-top: 1%;
    margin-right: 3%;
    
  color: #ae9b5c;
  }
  .follow{
    margin-left: 5%;
    cursor: pointer;
  }

  .uploadphoto-but{
     color: beige;
    text-decoration: none;
  }

  .follow-mesage{
     font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight:  400;
  font-style: normal;
    margin-top: 2%;
    font-size: 130%;
    margin-left: 5%;
  }

  .rating:hover{
    color:  beige;
  }
  .follow:hover{
    color:  beige;
  }

  .location{
    cursor: pointer;
    font-size: 20px;
  }

  .location:hover{
    color: aliceblue;
  }

  .rating{
    cursor: pointer;
  }
  
  @media (max-width: 800px) {
    .entireProfile{
    min-height: 50vh;
        
    }
    .containerProfile{
  
      padding-top: 5%;
      padding-left: 1%;
   
  }
  .buttonPerfil{
    margin-top: 3%;
    margin-bottom: 5%;
  }
  .button {
    width: 8em;
    height: 2.6em;
    margin: 5px;
    font-size: 14px;
    border-radius: 6px;
    font-weight: 500;
   }
   .followInfo{
    margin-left: 0%;
    margin-top: 1%;
  }

  .location{
  font-size: 100%;
  }
  .iconmap{
    margin-left: 40%;
    margin-bottom: 5%;
  }
  .containerInfo {
    margin-top: 8%;
    margin-left: 3%;

  }
  .iconmap{
    margin-top: 2%;
    margin-left: 35%;
  }
  .nameinfo{
    font-size: 135%;
    font-weight: 600;
  }
  .img-avatar{
    margin-left: 2%;
  }
  }

