.containerProfile {
  display: flex;
  margin-top: 3%;
  margin-left: 30%;
  margin-bottom: 3%;
  font-family: 'Rock Salt', cursive !important;
  min-height: 20vh;
}

.containerInfo {
  display: flex;
  flex-direction: column;
  margin-left: 5rem; /* Ajusta el margen izquierdo según sea necesario */
  margin-top: 4%;
}

.location:hover{
  color: #917E41;

}
.nameinfo{
  font-size: 150%;
  margin-right: 3%;
}

.img-avatar{
  margin-top: 3%;
}

.buttonPerfil {
  display: flex;
  justify-content: center; /* Esto centrará horizontalmente los elementos en el contenedor */
  width: 100%; /* O el ancho deseado para el contenedor */
}
.button {
    --color: #917E41;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
    font-family: 'Rock Salt', cursive !important;
   }
   
   .button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
   }
   
   .button:hover {
    color: #fff;
   }
   
  .button:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
   }
   
   .button:hover:before {
    top: -30px;
    left: -30px;
   }
   
   .button:active:before {
    background: #917E41;
    transition: background 0s;
   }
  .editar{
    margin-left: 19%;
    margin-top: 7%;
  }
  .whatsapp{
    color:  #917E41;
    text-decoration: none;
  }
  .whatsapp:hover{
    color: aliceblue;
  }
  .followInfo{
    display: flex;
    font-family: 'Rock Salt', cursive !important;
    margin-left: 30%;
    margin-top: 1%;
  }
  .follow{
    margin-left: 5%;
  }

  .uploadphoto-but{
     color:  #917E41;
    text-decoration: none;
  }
  .uploadphoto-but:hover{
    color: aliceblue;
  }
  .follow-mesage{
    font-family: 'Rock Salt', cursive !important;
    margin-top: 2%;
    font-size: 130%;
    margin-left: 5%;
  }
  
  @media (max-width: 800px) {
    .containerProfile{
  
      margin-top: 5%;
      margin-left: 3%;
   
  }
  .buttonPerfil{
    margin-top: 3%;
  }
  .button {
    width: 8em;
    height: 2.6em;
    margin: 5px;
    font-size: 14px;
    border-radius: 6px;
    font-weight: 500;
   }
   .followInfo{
    margin-left: 5%;
    margin-top: 1%;
  }

  .location{
  font-size: 75%;
  }
  .iconmap{
    margin-left: 40%;
    margin-bottom: 5%;
  }
  .containerInfo {
    margin-top: 7%;
    margin-left: 1rem;
  }
  .iconmap{
    margin-top: 2%;
    margin-left: 35%;
  }
  .nameinfo{
    font-size: 100%;
  }
  }

